.poster {
  width: 18%;
  position: relative;
  overflow: hidden;
}

.poster__img {
  max-width: 100%;
  object-fit: contain;
  transition: transform 500ms;
  border-radius: 3px;
}

.poster__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 90%;
  border-radius: 3px;
  transition: transform 800ms;
  padding: 2vw;
  color: white;
  overflow: auto;
}

.poster__header {
  display: flex;
  font-size: 1vw;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5vw;
  height: 10%;
}

.poster__overview {
  color: red;
  font-weight: bold;
  font-size: 1.2vw;
}

.poster__vote {
  width: 15%;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 1%;
  text-align: center;
  border-radius: 3px;
}

.poster__playbutton {
  width: 15%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  border: none;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
}

.poster__playbutton:focus {
  outline: none;
}

.poster__playbutton:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5)
}

.poster__item {
  font-size: 1vw;
  /* height: 100%; */
}

.poster:hover .poster__info {
  transform: translateY(0%);
}

.poster:hover {
  cursor: pointer;
}

.poster__info::-webkit-scrollbar {
  display: none;
}

.poster__rating {
  text-align: center;
  font-size: 1.2vw;
  padding: 0.2vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
